.container {
    text-align: center;
}
.restore_form {
    margin: 0 auto;
    max-width: 385px;
    display: flex;
    flex-direction: column;
}
.button_container {
    display: flex;
    justify-content: center;
}