.footer {
    min-height: 100px;
    width: 100%;
    background-color: #f6f7f8;
    position: relative;
    padding: 10px 10px;
    box-shadow: 1px 20px 15px 10px rgba(0,0,0,0.75);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.social {
    display: flex;
    gap: 10px;
}

.network {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: #ffd544;
    border-radius: 50%;
}

.network:hover {
    background: #ffc800;
}

.copyright {
    font-size: var(--main-size-text);
}