@import "./styles/reset.css";
@import "./styles/box.css";

:root {
    --main-size-text: 20px;
    --small-size-text: 15px;
    --large--size-text: 28px;
    --title-section-font-size: 50px;
    --offset-base-size: 4px;
}

* {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding: 5px;
}

a {
    color: #126df7;
    transition: color .2s;
}

a:hover {
    color: #0f54bb
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
       
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    :root {
        --large--size-text: 22px;
        --title-section-font-size: 35px;
        --main-size-text: 17px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 680px;
      
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 15px;
    
    }
    :root {
        --main-size-text: 15px;
    }
}
